# Environments
.env
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific
.vscode/
.idea/

# Android
*.apk
*.aab
*.ap_
*.a_
*.apks
*.dex
*.class
build/
*/build/
local.properties
.gradle/
c.exec
coverage.ec
*.iml
*.hprof
captures/
.cxx/
*.keystore
*.jks
